.form {
  display: flex;
  flex-direction: column;
  background-color: #ef4444; /* red-500 */
  width: 50%;
  margin: 0 auto;
  padding: 12px;
  border-radius: 16px;
  gap: 20px;
  align-items: center;
}

.input {
  border: 1px solid white;
  padding: 8px;
  width: 100%;
}

.hidden {
  display: none;
}

.imageContainer {
  position: relative;
  height: 200px;
  width: 50%;
}

.image {
  object-fit: cover;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.image:hover {
  transform: scale(1.05);
}

.selectImage {
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.button {
  background-color: #dc2626; /* red-600 */
  padding: 8px;
  width: fit-content;
  margin: 0 auto;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}